/* Add this to your styles or style sheet */
.fileList {
  list-style-type: none;
  padding: 0;
  max-width: 300px; /* Adjust the maximum width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileList li {
  font-size: 14px; /* Adjust the font size as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalContainer1 {
  width: 700px; /* Adjust the width as needed */
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto;
  border-radius: 12px;
  z-index: 1001;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer1.title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
