/* ProductDetailsPage.css */

.product-details-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details-container {
  display: flex;
  margin: 20px;
}

.product-images-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  padding: 20px;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
  border:1px solid #ddd;
  margin-left: 120px;
  margin-right: 80px;
}

.thumbnail-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail-image {
  width: 50px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.product-details1 {
  flex: 0.9;
  padding: 20px;
  margin-top: 30px;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  margin-left: 60px;

}
.product-details p {
  margin: 5px 0; /* Add some margin for spacing */
}



.nam {
  margin-left: 20px;
  font-size: 24px;
}

.ratings-reviews-heading {
  margin-top: 20px;
  font-size: 20px;
}

.action-buttons1 {
 
  margin-top: 40px;
}

.add-to-cart,
.add-to-wishlist {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.add-to-wishlist {
  background-color: #f44336;
}

/* Responsive Design */

@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
  }

  .product-images-container {
    width: 100%;
  }

  .thumbnail-image {
    width: 30px;
  }

  .action-buttons {
    margin-top: 10px;
  }
}
